useDynLib(bsvs, .registration=TRUE)

useDynLib(bsvs, .registration=TRUE)

importFrom(Rcpp, evalCpp)
useDynLib(bsvs, .registration = TRUE)

import(compiler)
importFrom("stats", "sd")

importFrom("Matrix","Diagonal","sparseMatrix","tcrossprod","crossprod","diag","colMeans","colSums",
           "t","rowMeans", "rowSums", "solve")
importClassesFrom(Matrix, dgeMatrix, dgCMatrix, dsCMatrix,dtCMatrix)
importFrom("methods", "as")

export(bis)
export(mybsvs)
export(logp.u)
export(predict.bsvs)

