useDynLib(bravo, .registration=TRUE)

importFrom(Rcpp, evalCpp)


importFrom("stats", "sd")

importFrom("Matrix","Diagonal","sparseMatrix","tcrossprod","crossprod","diag","colMeans","colSums", "t","rowMeans", "rowSums", "solve")
importClassesFrom(Matrix, dgeMatrix, dgCMatrix, dsCMatrix,dtCMatrix)
importFrom("methods", "as")
importFrom("stats", "qnorm", "quantile", "rgamma", "rnorm", "var")

#export(bis)
export(sven)
export(predict.sven)
S3method(predict,sven)
